.disclaimer {
  background-color: var(--warning);
  border: 1px solid var(--warning-border);
  border-radius: 3px;
  padding: 8px 10px;
}

.disclaimer--header {
  align-items: center;
  color: var(--brand-darken-35);
  display: flex;
  font-size: 1.05em;
  font-weight: 700;
  margin-bottom: 5px;
}

.disclaimer--header h2 {
  margin-left: 3px;
}

.disclaimer--body {
  color: var(--brand-desaturate-76);
  font-weight: 300;
  line-height: 1.2em;
}

.disclaimer--link {
  color: var(--brand-darken-21);
  display: block;
  margin-top: 5px;
  text-decoration: none;
}
