.bar-chart {
  width: 100%;
  margin-bottom: 20px;
}

.bar-chart--bar-container {
  align-items: center;
  display: flex;
}

.bar-chart--bar {
  height: 30px;
}

.bar-chart--bar1 {
  background-color: var(--viz-cashout-before);
}

.bar-chart--bar2 {
  background-color: var(--viz-cashout-after);
}

.bar-chart--bar-label {
  margin-left: 5px;
}
