.chart-text {
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.15;
  margin-bottom: 10px;
}

.chart-text--number {
  color: var(--brand-saturate-15);
  font-weight: 700;
}

.chart-text--separator {
  display: block;
  height: 10px;
}
