.links {
  margin-top: 20px;
}

.links--header {
  color: var(--brand-desaturate-75);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 25px;
}

.links--grid {
  display: grid;
  grid-gap: 20px 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* @media (min-width: 320px) and (max-width: 480px) {
  .links {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
} */
