.data-entry {
  background-color: var(--brand-opposite-lighten-49);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
}

.data-entry--form {
  margin: 0 auto;
  max-width: 300px;
}

.data-entry-label {
  display: block;
  margin-bottom: 5px;
}

.data-entry-input {
  border-radius: 3px;
  border-style: ridge;
  display: block;
  font-size: 1.1rem;
  margin: 5px 0 15px;
  padding: 3px 5px;
  text-align: right;
  width: 100%;
}

.data-entry-submit {
  border-radius: 3px;
  background-color: var(--brand);
  color: var(--white);
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.data-entry-submit:hover {
  background-color: var(--brand-darken-3);
}

.data-entry-submit:focus,
.data-entry-input:focus {
  outline-color: var(--brand-opposite);
}

@media (min-width: 320px) and (max-width: 480px) {
  .data-entry--form {
    max-width: 100%;
  }
}
