.app {
  max-width: 850px;
  margin: 0 auto;
}

.app-prototype,
.app-header {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.app-prototype {
  text-transform: uppercase;
  font-size: 1.2rem;
}
