/* http://scg.ar-ch.org/ */
/* https://www.sessions.edu/color-calculator/ */
:root {
  --white: #fcfcfc;

  --brand: #1c7dd5;
  --brand-lighten-51: #f7fbfe;
  --brand-lighten-52: #fcfdff;

  --brand-darken-3: #1a75c7;
  --brand-darken-41: #04111c;

  --brand-saturate-15: #0a7ee7;

  --brand-opposite: #d5601c;
  --brand-opposite-lighten-52: #fffdfc;

  --viz-cashout-before: #af8dc3;
  --viz-cashout-before-darken-30: #633f78;
  --viz-cashout-after: #7fbf7b;
  --viz-cashout-after-darken-30: #417e3d;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--brand-opposite-lighten-52);
  color: var(--brand-darken-41);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
