/* http://scg.ar-ch.org/ */
:root {
  --black: #0d0d0d;
  --white: #fcfcfc;
  --white-darken-2: #fafafa;
  --brand: #1c7dd5;
  --brand-light-10: #3e96e6;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
